.App {
  text-align: center;
  height: 100vh;
}

header {
  position: relative;
  border: 1px solid black;
  min-height: 50vh;
  .length-outputWrap {
    margin-top: 25px;
    .length-label {
      color: white;
    }
  }
  .length-output {
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    font-size: 1.4rem;
  }
  .animationArea {
    width: 100%;
    display: relative;
    min-height: inherit;
    background: rgb(150, 40, 89);
    background: radial-gradient(circle, rgba(150, 40, 89, 1) 0%, rgba(32, 23, 23, 1) 59%);
    .blocks {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      li {
        position: absolute;
        bottom: -100px;
        display: block;
        list-style: none;
        width: 25px;
        height: 25px;
        background: rgba(255, 255, 255, 0.2);
        animation: move 10s linear infinite;
      }
      & li:nth-child(1) {
        left: 90%;
        width: 50px;
        height: 50px;
        animation-delay: 0s;
      }
      & li:nth-child(2) {
        left: 25%;
        width: 50px;
        height: 50px;
        animation-delay: 2s;
        animation-duration: 10s;
      }
      & li:nth-child(3) {
        left: 35%;
        width: 15px;
        height: 15px;
        animation-delay: 0.5s;
        animation-duration: 8s;
      }
      & li:nth-child(4) {
        left: 70%;
        width: 20px;
        height: 20px;
        animation-delay: 1.4s;
        animation-duration: 7s;
      }
      & li:nth-child(5) {
        left: 50%;
        width: 5px;
        height: 5px;
        animation-delay: 1s;
        animation-duration: 15s;
      }
      & li:nth-child(6) {
        left: 12%;
        width: 40px;
        height: 40px;
        animation-delay: 2s;
        animation-duration: 6s;
      }
    }
  }
  .contentWrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  h1 {
    font-size: 3rem;
    background: url("./Components/images/pexels-markus-spiske-3872166.jpg");
    background-position: center;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
  }
  .inputWrap {
    margin-top: 25px;
  }
  input {
    text-align: left;
    display: inline-block;
    width: 250px;
    padding: 8px 5px;
    border-radius: 5px;
    border: none;
    outline: none;
  }
}

@keyframes move {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

main {
  border: 1px solid red;
  display: flex;
  height: 50%;
  flex-direction: column;
  .mainWrap {
    flex-grow: 1;
  }
}
